body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.button1 {
    background-color: #3882F6;
    padding: 10px 24px;
    border-radius: 8px;
    border: none;
    text-decoration: none;
    transition-duration: 0.4s;
    color: white;
    font-size: 16px;
    font-weight: bold;
    margin: 8px 0px;
}

.button1:hover {
    background-color: white;
    color: #3882F6;
    cursor: pointer;
}

.button2 {
    background-color: #3882F6;
    padding: 10px 24px;
    border-radius: 8px;
    border: 2px solid white;
    text-decoration: none;
    transition-duration: 0.4s;
    color: white;
    font-size: 16px;
    font-weight: bold;
    margin: 8px 0px;
}

.button2:hover {
    background-color: white;
    color: #3882F6;
    cursor: pointer;
}

.header {
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 288px;
}

.footer {
    background-color: #1F2937;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    font-size: 18px;
    color: #E5E7EB;
    padding: 24px 288px;
}

.credit {
    color:#E5E7EB
}

.credit:visited {
    color: #E5E7EB;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bolder;
}

.header_links {
    display: flex;
    gap: 16px;
    font-size: 18px;
    color: #E5E7EB;
}

.link:hover {
    color: #3882F6;
    cursor: pointer;
}

.hero {
    background-color: #1F2937;
    padding: 36px 288px 72px;
    display: flex;
}

.hero_main {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    padding: 8px 0px;
}

.hero_secondary {
    font-size: 18px;
    color: #E5E7EB;
    padding: 8px 0px;
}

.hero_img {
    max-width: 600px;
    height: auto;
    border: 4px solid white;
    margin: 0 0 0 32px;
}

.information {
    padding: 0 288px 144px;
    text-align: center;
}

.card_title {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    padding: 72px 0;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 32px;
}

.card {
    width: 300px;
}

.card_img {
    max-width: 300px;
    height: auto;
    border: 4px solid #3882F6;
    border-radius: 8px;
}

.quote {
    background-color: #E5E7EB;
    padding: 144px 288px;
}

.quote_text {
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    color: #1F2937;
    padding: 16px 0;
}

.quote_name {
    font-size: 24px;
    font-weight: bolder;
    text-align: right;
}

.call {
    display: flex;
    background-color: #3882F6;
    margin: 144px 288px;
    padding: 72px 144px;
    border-radius: 8px;
    justify-content: space-between;
    align-items: center;
}

.call_title {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.call_subtext {
    font-size: 18px;
    color: #F9FAF8;
    padding: 8px 0;
}