body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

button {
    background-color: #3882F6;
}

.header {
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 288px;
}

.footer {
    background-color: #1F2937;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 18px;
    color: #E5E7EB;
    padding: 16px 288px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bolder;
}

.header_links {
    display: flex;
    gap: 16px;
    font-size: 18px;
    color: #E5E7EB;
}

.hero {
    background-color: #1F2937;
    padding: 72px 288px;
    display: flex;
}

.hero_main {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero_secondary {
    font-size: 18px;
    color: #E5E7EB;
}

.hero_img {
    max-width: 600px;
    height: auto;
}

.information {
    padding: 0 288px 72px;
    text-align: center;
}

.card_title {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    padding: 72px 0;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.card {
    width: 300px;
}

.card_img {
    max-width: 300px;
    height: auto;
    border-color: #3882F6;
}

.quote {
    background-color: #E5E7EB;
    padding: 72px 288px;
}

.quote_text {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
}

.quote_name {
    font-size: 24px;
    font-weight: bolder;
    text-align: right;
}

.call {
    background-color: #3882F6;
    margin: 144px;
    padding: 72px;
    border-radius: 8px;
}